body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1d1f23;
    color: white;
    text-align: center;
}

.menu-item{
    display: inline-block;
    padding-left: 20px;
}

h1{
    color: #b5b5b7;
}

h2{
    color: #f2b632;
}