body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1d1f23;
    color: white;
    text-align: center;
    line-height: 1.6;
}

#main-title{
    display: inline-block;
    padding-right: 15px;
}

#social{
    display: inline-block;
}

#social a:link, a:visited {
    color: #f2b632;
}

button a:link, button a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    text-decoration: underline;
}

h1{
    color: #b5b5b7;
}

h2{
    color: #f2b632;
}

button {
    background-color: transparent;
    border: 1px solid #f2b632;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
    background-color: #f2b632;
    border: 1px solid #f2b632;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.menu-item{
    display: inline-block;
    padding-right: 15px;
}

.menu-item-active{
    display: inline-block;
    padding-right: 15px;
}